.discover-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.discover-flex{
  display: flex;
  align-items: center;
}

.discover-header {
  margin: 2rem;
}

.select-genre {
  select {
    background-color: #232222;
    height: 2rem;
    border-radius: 5px;
    color: rgb(243, 235, 235);
    padding: 5px;
  }
  option {
    color: rgb(243, 235, 235);
    padding: 50px;
  }
}

.discover-songs {
  display: flex;
  justify-content:center;
  width: 95%;
  margin: 2rem;
  flex-wrap: wrap;
  gap: 20px;
}
